/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*general styles*/
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/*header section styles*/
#home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#home nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5%;
    padding-top: 2%;
}

#home nav a{
    text-decoration: none;
    margin: 5%;
    color: black;
}

.bottom-header-img{
    margin-bottom: 5%;
}

/*top section styles*/
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/*middle content styles*/
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes .box:first-child{
    background: teal;
}

.boxes .box:nth-child(2){
    background: gold;
}

.boxes .box:nth-child(3){
    background: cadetblue;
}

.boxes .box:nth-child(4){
    background: coral;
}

.boxes .box:nth-child(5){
    background: crimson;
}

.boxes .box:nth-child(6){
    background: forestgreen;
}

.boxes .box:nth-child(7){
    background: darkorchid;
}

.boxes .box:nth-child(8){
    background: hotpink;
}

.boxes .box:nth-child(9){
    background: indigo;
}

.boxes .box:last-child{
    background: dodgerblue;
}

/*bottom content styles*/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*styles for when width is 800px or lower*/
@media(max-width: 800px){
    /*general styles*/
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 2rem;
    }

    div{
        display: inline;
    }

    .container{
        width: 100%;
    }

    h2{
        font-size: 2.5rem;
    }

    a{
        font-size: 2.2rem;
    }

    /*header styles*/

    .top-header-img{
        margin: 1%;
    }   

    #home nav{
       margin: 1%;
       display: flex;
    }

    .bottom-header-img{
        padding: 0;
        margin: 0 0 2% 0;
        width: 100%;
    }

    /*top-content styles*/
    .top-content{
        flex-direction: column;
        align-items: center;
    }

    .top-content .text-container{
        width: 100%;
        padding: 2%;
    }

    /*middle content section styles*/

    .middle-content .boxes .box{
        width: 30%;
        height: 200px;
    }

    /*bottom content section styles*/
    .bottom-content{
        flex-wrap: wrap;
    }

    .bottom-content .text-container{
        width: 40%;
        margin: 1%;
        padding: 1%;
    }

    /*footer section styles*/
    footer nav{
        width: 100%;
        justify-content: space-evenly;
        padding: 20px 6%;
    }
}

/*styles for width at 500px and lower*/
@media(max-width: 500px){
    /*general styles*/

    /*header section styles*/
    #home{
        flex-direction: column;
        align-items: center;
    }

    #home nav{
        flex-direction: column;
        align-items: center;
    }

    .top-header-img{
        margin-top: 5%;
    }

    #home nav a{
        margin: 2%;
    }
}